

body{
    background: rgba(205, 209, 211, 0.514);
}

#table-container{
    margin-top: 100px;
    text-align: center;
}


table ,th, td{
    
    border: 2px solid hsla(0, 0%, 6%, 0.887);
  border-collapse: collapse;
  text-align: center;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(55, 5, 124);

}
#link{
    position: absolute;
    top: 40px;
    margin-left: 15px;
    text-decoration: none;

}
#csv{
    text-decoration: none;
    position: relative;
    bottom: 15px;
}
input{
    width: 60px;
    height: 5px ;
}

h1{
    font-family: serif;
    padding: 5px;
}