#bg {
  margin: 0;
  padding: 0;
  background: url(./final.jpg);
  background-size: 500px 500px;
  height: 500px;
  height: 1000px;
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(2px);
  
}
#main {
  margin-left: 700px;
  margin-right: 100px;
}

#container {
  width: 300px;
  box-sizing: 0 0 3px rgba(0, 0, 0, 0.3);
  background: rgb(250, 245, 245);
  padding: 20px;
  justify-content: center;
  border-radius: 5px;
  position: absolute;
  top: 100px;
  right: 30px;
  
}

input {
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 40px;
  padding: 7px;
}

input::placeholder {
  font-family: serif;
  font-weight: 600;
}

h2 {
  color: hsla(7, 89%, 63%, 0.887);
  margin-left: 40px;
  margin-top: 0;
}

button {
  margin-left: 40px;
  margin-top: 10px;
  color: white;
  background: hsla(7, 89%, 63%, 0.887);
  border-radius: 5px;
  padding: 4px;
  width: 80px;
  margin-top: 20px;
}

#label {
  margin-left: 40px;
  margin-top: 10px;
  color: rgb(15, 14, 14);
  font-family: serif;
  font-weight: 600;
}

#content {
  color: hsla(7, 89%, 63%, 0.887);
  font-family: cursive;

  position: absolute;
  right: 400px;
  top: 160px;
}

select{
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 40px;
    padding: 7px;
    font-family: serif;

}

.error{
 margin-left: 40px;
}