#nav{
    background: hsla(7, 89%, 63%, 0.887);
    padding-top: 10px;
    height: 30px;
    

}
.link{
    text-decoration: none;
    color:black;
    padding: 10px;
    padding-top: 15px;
    margin-top: 5px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    

}